* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  min-height: 100vh;

  background-image: url("./assets/login-background.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}